@mixin icon ($content) {
    font-family: $font_glyphs;
    content: $content;
}

// Replaces text with an icon
@mixin iconReplace ($iconSize, $content) {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 ($iconSize*1.3);
    width: ($iconSize*1.3);
    height: ($iconSize*1.3);
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: $iconSize;

    &:before {
        position: absolute;
        top: 50%;
        margin-top: -($iconSize/2);
        left: 50%;
        margin-left: -($iconSize/2);
        display: block;
        width: $iconSize;
        height: $iconSize;
        content: $content;
        font-family: $font_glyphs;
        font-size: $iconSize;
        text-indent: 0;
    }
}

// Adds an icon in front of an anchor's text
@mixin iconBeforeText ($iconSize, $content, $font-color) {
    position: relative;
    display: block;
    padding: 0 0 0 ($iconSize*1.2);
    overflow: hidden;
    color: $font-color;
    text-decoration: none;
    line-height: ($iconSize*1.1);

    &:before {
        position: absolute;
        top: 50%;
        margin-top: -($iconSize/2);
        left: 0;
        display: block;
        width: $iconSize;
        height: $iconSize;
        content: $content;
        font-family: $font_glyphs;
        font-size: $iconSize;
    }
}

// Adds an icon after an anchor's text
@mixin iconAfterText ($iconSize, $content, $font-color) {
    position: relative;
    display: block;
    padding: 0 ($iconSize*1.2) 0 0;
    overflow: hidden;
    color: $font-color;
    text-decoration: none;
    line-height: ($iconSize*1.1);

    &:after {
        position: absolute;
        top: 50%;
        margin-top: -($iconSize/2);
        right: 0;
        display: block;
        width: $iconSize;
        height: $iconSize;
        content: $content;
        font-family: $font_glyphs;
        font-size: $iconSize;
    }
}